<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>InventoryApplication</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>whi.Login</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>whi.Signup</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/loginPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WorkerServlet</servlet-name>
		<servlet-class>whi.WorkerCheckInProduct</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WorkerServlet</servlet-name>
		<url-pattern>/workerHome</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>WorkerPage</servlet-name>
		<servlet-class>whi.WorkerPage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WorkerPage</servlet-name>
		<url-pattern>/workerPage</url-pattern>
	</servlet-mapping>






</web-app>