<web-app>
<display-name>WHInventory</display-name>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
<welcome-file>index.htm</welcome-file>
<welcome-file>index.jsp</welcome-file>
<welcome-file>default.html</welcome-file>
<welcome-file>default.htm</welcome-file>
<welcome-file>default.jsp</welcome-file>
</welcome-file-list>

<servlet>
<servlet-name>Inventory</servlet-name>
<servlet-class>firstpkg.Singup</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Inventory</servlet-name>
<url-pattern>/Singup</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>InventoryLogin</servlet-name>
<servlet-class>firstpkg.loginServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>InventoryLogin</servlet-name>
<url-pattern>/home</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ForgotPassword</servlet-name>
<servlet-class>firstpkg.ForgotPassword</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ForgotPassword</servlet-name>
<url-pattern>/forgotpwd</url-pattern>
</servlet-mapping>
</web-app>